---
import Footer from "../../components/Footer.astro";
import Hero from "../../components/Hero.astro";
import LastPosts from "../../components/LastPosts.astro";
import PostsCategories from "../../components/PostsCategories.astro";
import SuggestedBooks from "../../components/SuggestedBooks.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Fisio MED!">
  <Hero />

  <LastPosts />

  <SuggestedBooks />

  <PostsCategories />

  <div class="bg-light-cyan-600 text-black p-4 shadow-md mb-48">
    Color de fondo claro
  </div>
</Layout>
