<footer class="w-full text-black shadow-lg font-roboto">
  <div class="max-w-7xl mx-auto px-4 xl:px-0 py-8 text-center">
    <p class="">
      &copy; {new Date().getFullYear()} Fisiomed. All rights reserved.
    </p>
    <p class="mt-2 font-medium">
      Made with <span class="text-red-500 animate-pulse">&hearts;</span> by
      <a
        href="https://github.com/Ris3TwO"
        target="_blank"
        rel="noopener noreferrer"
        class="text-purpureus-600 hover:underline"
      >
        Ris3TwO
      </a>
    </p>
  </div>
</footer>
