---
const t = Astro.props.t;
---

<section
  class="min-h-[100dvh] relative isolate overflow-hidden text-white py-24 -my-[72px] md:-my-[120px] lg:-my-[98px] flex flex-col justify-center items-center text-center"
>
  <img
    src="/assets/img/hero-bg-1920.webp"
    srcset="/assets/img/hero-bg-800.webp 800w, 
          /assets/img/hero-bg-1200.webp 1200w, 
          /assets/img/hero-bg-1440.webp 1440w, 
          /assets/img/hero-bg-1920.webp 1920w"
    sizes="100vw"
    alt="Camilla de fisioterapia"
    class="absolute inset-0 w-full h-full object-cover -z-10"
    fetchpriority="high"
    loading="eager"
  />

  <!-- overlay -->
  <div class="absolute bg-black inset-0 -z-10 opacity-70"></div>

  <div class="min-h-min mx-auto max-w-7xl xl:max-w-8xl px-6 lg:px-8">
    <h1
      class="text-light-cyan-600 text-4xl sm:text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight transition-all duration-200"
    >
      {t("hero.title")}
    </h1>
    <p
      class="mt-6 text-lg sm:text-xl md:text-2xl text-light-cyan-400 max-w-2xl mx-auto"
    >
      {t("hero.subtitle")}
    </p>
    <div
      class="absolute bottom-[16%] md:bottom-30 left-1/2 transform -translate-x-1/2 animate-bounce"
    >
      <a
        href="#next-section"
        aria-label="Go to next section"
        class="animate-bounce rounded-full transition border border-honolulu-blue-600 px-2 py-4 text-2xl hover:bg-honolulu-blue-600 hover:text-white"
      >
        <i class="ti ti-arrow-down"></i>
      </a>
    </div>
  </div>
</section>
