---

import Posts from "@/components/ui/Posts";
import { DEFAULT_LOCALE, type Locale } from "@/i18n/config";

const lang: Locale = Astro.currentLocale || DEFAULT_LOCALE;
---

<section
  id="next-section"
  class="py-20 md:pb-0 md:pt-20 my-16 md:my-20 xl:my-30 max-w-7xl mx-auto"
>
  <Posts client:only="preact" lang={lang} />
</section>
