---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Posts from "../ui/Posts";
---

<section
  id="next-section"
  class="py-20 md:pb-0 md:pt-20 my-16 md:my-20 xl:my-30 max-w-7xl mx-auto"
>
  <Posts client:only />
</section>
