---

---

<section
  class="min-h-screen relative isolate overflow-hidden bg-[url(/assets/img/hero-bg.webp)] bg-center bg-no-repeat bg-cover text-white py-24 sm:py-32 -my-20 md:-my-24 flex flex-col justify-center items-center text-center"
>
  <!-- overlay -->
  <div class="absolute bg-black inset-0 -z-10 opacity-70"></div>

  <div class="min-h-min mx-auto max-w-7xl xl:max-w-8xl px-6 lg:px-8">
    <h1 class="text-4xl sm:text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight transition-all duration-200">
      Nuestra profesi칩n, su esperanza
    </h1>
    <p class="mt-6 text-lg sm:text-xl md:text-2xl text-gray-300 max-w-2xl mx-auto">
      Para quienes estudiamos fisioterapia, esta carrera representa mucho m치s
      que una profesi칩n, es una vocaci칩n que nos conecta con las necesidades,
      desafios y esperanzas de las personas.
    </p>
    <div class="absolute bottom-20 md:bottom-30 left-1/2 transform -translate-x-1/2 animate-bounce">
      <a
        href="#last-posts"
        class="animate-bounce rounded-full transition border border-honolulu-blue-600 px-3 py-2 text-2xl hover:bg-honolulu-blue-600 hover:text-white"
      >
        <i class="ti ti-arrow-down"></i>
      </a>
    </div>
  </div>
</section>
