---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sobre Nosotros">
  <div class="bg-federal-blue-500 text-white p-4">
    Funciona esta página en español sobre nosotros. Aquí puedes incluir
    información sobre el proyecto, su propósito y cualquier otro detalle
    relevante que quieras compartir con los usuarios.
  </div>
</Layout>
