---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="¡Bienvenido a Fisio MED!">
  <Hero />

  <section id="last-posts" class="min-h-screen bg-honolulu-blue-600 text-white shadow-md py-20 md:py-20 mt-8">
    Color secundario
  </section>

  <div class="bg-pacific-cyan-600 text-white p-4 shadow-md">
    Color terciario
  </div>

  <div class="bg-non-photo-blue-600 p-4 shadow-md">Color de resalte</div>

  <div class="bg-light-cyan-600 text-black p-4 shadow-md">
    Color de fondo claro
  </div>
</Layout>
